<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${item.getName()}">VALUE</p>
<p th:text="${item.description}">VALUE</p>
<p th:text="${item.getPrice()}">VALUE</p>
<p th:text="${item.getColor()}">VALUE</p>

<a th:href="@{/catalog/{id}/edit(id=${item.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/catalog/{id}/delete(id=${item.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>